.About .layout-content {
  flex-direction: column;
}
.About .statusDoc {
  margin: 25px 0 0 0;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  box-shadow: 1px 3px 4px 0px black;
  border: none;
}
.About .ShareThis {
  clear: both;
  float: right;
  max-width: 40%;
  text-align: center;
}
.About .ShareThis h2 {
  font-size: 1.3em;
  font-weight: 300;
}
.About .ShareThis .qr {
  width: 100px;
  height: 100px;
  box-sizing: content-box;
  margin: 8px 0 4px 0;
}
.About .ShareThis a {
  font-size: 0.75rem;
  color: #000;
}
.About .ShareThis a span {
  display: block;
}
.About .ShareThis a span.underline {
  text-decoration: underline;
  font-size: 14px;
  font-weight: bold;
}
.About img.pat {
  width: 1em;
  height: 1em;
  vertical-align: text-top;
  margin-left: 4px;
}
