.Home .locationHolder {
  width: 100%;
  max-width: 480px;
  margin: -10px auto 10px auto;
}
.Home .locationHolder .LocationSetup {
  padding: 5px;
}
.Home .locationHolder .LocationSetup h1 {
  display: none;
}
.Home .locationHolder .LocationSetup .confirmGuess {
  padding: 0.3rem 10% 1rem;
}
.Home .locationHolder .LocationSetup .section {
  margin: 0;
}
.Home .locationHolder .LocationSetup .section button {
  min-height: 2rem;
}
.Home .locationHolder .LocationSetup .section > p {
  display: none;
}
.Home #Listing {
  padding-top: 0;
}
.Home #Listing .dayContent.HolyDay {
  padding-left: 0;
}
.tightTop div.card:first-child {
  margin-top: 0;
}
div.card {
  padding: 3px;
  margin: 15px auto 20px auto;
}
.card article.Verse {
  cursor: pointer;
  padding: 3px;
}
.card article.Verse > * {
  display: none;
}
.card article.Verse .verseHost {
  display: block;
  margin: 0 8px 4px 8px;
}
.card article.Verse .verseHost > * {
  display: none;
}
.card article.Verse .verseHost .verseText {
  display: block;
  font-size: 18px;
  min-height: auto;
  padding-bottom: .5em;
}
button.item-link {
  display: inline-block;
  line-height: normal;
  background: rgba(0, 0, 0, 0.2);
  height: auto;
  padding: 0px 10px;
  margin: 3px 8px 0 0;
}
button.item-link.icon_setup {
  background: rgba(0, 0, 255, 0.06);
}
.heading {
  display: flex;
  justify-content: space-between;
  margin: 3px 3px 3px 3px;
}
.heading .desc span {
  font-size: 13px;
}
.heading .type {
  color: #999;
  display: block;
  text-align: right;
}
#sunChart {
  width: 100%;
  max-width: 800px;
  height: 140px;
  margin: 0 auto;
  box-sizing: border-box;
}
#sunChart .highcharts-data-label {
  text-align: center;
}
#sunChart .highcharts-xaxis-labels > span span {
  display: block;
  position: absolute;
}
#sunChart .highcharts-xaxis-labels > span span.before {
  text-align: right;
}
#sunChart .highcharts-xaxis-labels > span span.after {
  text-align: left;
}
div.line {
  margin: 3px 0;
  overflow: auto;
}
div.line label {
  display: inline;
  margin: 0;
  font-size: 90%;
}
div.line span {
  float: right;
}
div.line.now {
  color: #aaa;
}
div.line b {
  border: 1px solid #027be3;
  background-color: rgba(2, 123, 227, 0.06);
  border-radius: 2px;
  padding: 0 2px;
}
.card.verse button {
  margin: 1px 3px 0 0;
  padding: 3px 8px;
  min-height: 1rem;
}
.tap95card {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
}
.tap95card .heading {
  width: 100%;
}
.tap95card .heading .type {
  margin-left: 3px;
}
.tap95card .heading label {
  margin-right: 5px;
}
.tap95card .heading label input {
  vertical-align: text-bottom;
  margin-right: 2px;
}
.tap95card button.reset {
  margin: 1px 10px 0 0;
  padding: 3px 8px;
  min-height: 1rem;
}
.tap95card .main95 {
  display: flex;
  height: 180px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: space-around;
}
.tap95card .main95 button.circular.big {
  height: 95px;
  width: 95px;
}
.tap95card .main95 span.tapNum {
  font-size: 40px;
  width: 100%;
  text-align: center;
  display: block;
}
.tap95card .tapDelayArea {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
  font-size: 85%;
}
.tap95card .tapDelayArea .q-range .q-range-handle-container {
  margin: 0 10px;
}
.tap95card .tapDelayArea span {
  white-space: nowrap;
}
.tap95card #tapBlocks div {
  height: 9px;
}
.tap95card #tapBlocks span {
  background-color: #ddd;
  display: inline-block;
  height: 7px;
  width: 7px;
  margin: 1px;
  transition: all 1.5s;
}
.tap95card #tapBlocks span.tapped {
  border-radius: 50%;
  background-color: #027be3;
}
.tap95card #tapBlocks span.tapped.five {
  background-color: #FFA726;
}
.card.share .heading button {
  margin: 1px 3px 0 0;
  padding: 3px 8px;
  min-height: 1rem;
}
.card.share .support {
  margin: 0 8px 4px 8px;
  display: flex;
  display: -webkit-flex;
}
.card.share .qr {
  width: 75px;
  height: 75px;
}
.card.share p {
  margin: 0 8px 4px 8px;
}
.google_ad_1 {
  text-align: center;
  max-width: 480px;
  width: 100%;
  height: 200px;
  margin: 0 auto;
}
