.tightTop {
    div.card:first-child {
        margin-top: 0;
    }
}

div.card {
    padding: 3px;
    margin: 15px auto 20px auto
}

.card article.Verse {
    cursor: pointer;
    padding: 3px;
    >* {
        display: none;
    }
    .verseHost {
        display: block;
        margin: 0 8px 4px 8px;
        >* {
            display: none;
        }
        .verseText {
            display: block;
            font-size: 18px;
            min-height: auto;
            padding-bottom: .5em;
        }
    }
}

button.item-link {
    display: inline-block;
    line-height: normal;
    background: rgba(0, 0, 0, 0.2);
    height: auto;
    padding: 0px 10px;
    margin: 3px 8px 0 0;
    &.icon_setup {
        background: rgba(0, 0, 255, 0.06);
    }
}

.heading {
    display: flex;
    justify-content: space-between;
    margin: 3px 3px 3px 3px;
    .desc {
        span {
            font-size: 13px;
        }
    }
    .type {
        color: #999;
        display: block;
        text-align: right;
    }
}

#sunChart {
    width: 100%;
    max-width: 800px;
    height: 140px;
    margin: 0 auto;
    box-sizing: border-box;
    .highcharts-data-label {
        text-align: center;
    }
    .highcharts-xaxis-labels {
        >span {
            span {
                display: block;
                position: absolute;
                &.before {
                    text-align: right;
                }
                &.after {
                    text-align: left;
                }
            }
        }
    }
}

div.line {
    margin: 3px 0;
    overflow: auto;
    label {
        display: inline;
        //float: left;
        margin: 0;
        font-size: 90%;
    }
    span {
        float: right;
    }
    &.now {
        color: #aaa;
    }
    b {
        border: 1px solid #027be3; //theme color
        background-color: rgba(2, 123, 227, 0.06);
        border-radius: 2px;
        padding: 0 2px;
    }
}

.card.verse {
    button {
        margin: 1px 3px 0 0;
        padding: 3px 8px;
        min-height: 1rem;
    }
}

.tap95card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    .heading {
        width: 100%;
        .type {
            margin-left: 3px;
        }
        label {
            margin-right: 5px;
            input {
                vertical-align: text-bottom;
                margin-right: 2px;
            }
        }
    }
    button.reset {
        margin: 1px 10px 0 0;
        padding: 3px 8px;
        min-height: 1rem;
    }
    .main95 {
        display: flex;
        height: 180px;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        button.circular.big {
            height: 120px;
            width: 120px;
        }
        span.tapNum {
            font-size: 40px;
            width: 100%;
            text-align: center;
            display: block;
        }
    }
    .q-range {
        display: inline-block;
        width: 100px;
        margin: 6px 0 0 0;
        height: 20px;
        vertical-align: middle;
        .q-range-handle-container {
            margin: 0 10px;
        }
    }
    .tapDelaySpan {
        white-space: nowrap;
        display: block;
        span {
            vertical-align: sub;
        }
    }
    #tapBlocks {
        div {
            height: 9px;
        }
        span {
            background-color: #ddd;
            display: inline-block;
            height: 7px;
            width: 7px;
            margin: 1px;
            transition: all 1.5s;
            &.tapped {
                border-radius: 50%;
                background-color: #027be3;
                &.five {
                    background-color: #FFA726;
                }
            }
            &.five {
                // margin-right: 3px;
            }
        }
    }
}