.Home {
    .locationHolder {
        width: 100%;
        max-width: 480px;
        margin: -10px auto 10px auto;
        .LocationSetup {
            padding: 5px;
            h1 {
                display: none;
            }
            .confirmGuess {
                padding: 0.3rem 10% 1rem;
                background: none;
            }
            .section {
                margin: 0;
                button {
                    min-height: 2rem;
                }
                >p {
                    display: none;
                }
            }
        }
    }
    .bold {
        font-weight: bold;
    }
    #Listing {
        padding-top: 0;
        .dayContent.HolyDay {
            padding-left: 0;
        }
    }
}

.tightTop {
    div.card:first-child {
        margin-top: 0;
    }
}

div.card {
    padding: 3px;
    margin: 15px auto 20px auto
}

.card article.Verse {
    cursor: pointer;
    padding: 3px;
    >* {
        display: none;
    }
    .verseHost {
        display: block;
        margin: 5px 8px 0px 10px;
        >* {
            display: none;
        }
        .verseText {
            display: block;
            font-size: 18px;
            min-height: auto;
            padding-bottom: .5em;
        }
        .speakButtons {
            display: block;
            position: absolute;
            margin: 0;
            top: 4px;
            right: 73px;
            .volume {
                display: none;
            }
            button {
                padding: 1px 8px;
            }
            >span {
                display: none;
            }
        }
    }
}

button.item-link {
    display: inline-block;
    line-height: normal;
    background: rgba(0, 0, 0, 0.2);
    height: auto;
    padding: 0px 10px;
    margin: 3px 8px 0 0;
    &.icon_setup {
        background: rgba(0, 0, 255, 0.06);
    }
}

.heading {
    display: flex;
    justify-content: space-between;
    margin: 3px 3px 3px 3px;
    position: relative;
    .desc {
        color: #333;
        // span {
        //     font-size: 13px;
        // }
    }
    .mid {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        font-weight: bold;
    }
    .type {
        color: #999;
        display: block;
        text-align: right;
    }
}

#sunChart {
    width: 100%;
    max-width: 800px;
    height: 140px;
    margin: 0 auto;
    box-sizing: border-box;
    .highcharts-data-label {
        text-align: center;
    }
    .highcharts-xaxis-labels {
        >span {
            span {
                display: block;
                position: absolute;
                &.before {
                    text-align: right;
                }
                &.after {
                    text-align: left;
                }
            }
        }
    }
    .wk1 {
        color: #212121;
    }
}

div.line {
    margin: 3px 0;
    overflow: auto;
    label {
        display: inline;
        //float: left;
        margin: 0;
        font-size: 90%;
    }
    span {
        float: right;
    }
    &.now {
        color: #aaa;
    }
    b {
        border: 1px solid #027be3; //theme color
        background-color: rgba(2, 123, 227, 0.06);
        border-radius: 2px;
        padding: 0 2px;
    }
}

.card.verse {
    button {
        margin: 1px 3px 0 0;
        padding: 3px 8px;
        min-height: 1rem;
    }
    .heading {
        // margin-right: 50px;
    }
}

.tap95card {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    .heading {
        width: 100%;
        .type {
            margin-left: 3px;
        }
        label {
            margin-right: 5px;
            input {
                vertical-align: text-bottom;
                margin-right: 2px;
            }
        }
    }
    button.reset {
        margin: 1px 10px 0 0;
        padding: 3px 8px;
        min-height: 1rem;
    }
    .main95 {
        display: flex;
        height: 180px;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: space-around;
        button.circular.big {
            height: 95px;
            width: 95px;
        }
        span.tapNum {
            font-size: 40px;
            width: 100%;
            text-align: center;
            display: block;
        }
    }
    .tapDelayArea {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        -webkit-align-items: center;
        font-size: 85%;
        .q-range {
            .q-range-handle-container {
                margin: 0 10px;
            }
        }
        span {
            white-space: nowrap;
        }
    }
    #tapBlocks {
        div {
            height: 9px;
        }
        span {
            background-color: #ddd;
            display: inline-block;
            height: 7px;
            width: 7px;
            margin: 1px;
            transition: all 1.5s;
            &.tapped {
                border-radius: 50%;
                background-color: #027be3;
                &.five {
                    background-color: #FFA726;
                }
            }
            &.five {
                // margin-right: 3px;
            }
        }
    }
}

.card.share {
    .heading {
        button {
            margin: 1px 3px 0 0;
            padding: 3px 8px;
            min-height: 1rem;
        }
    }
    .support {
        margin: 0 8px 4px 8px;
        display: flex;
        display: -webkit-flex;
    }
    .qr {
        width: 75px;
        height: 75px;
    }
    p {
        margin: 0 8px 4px 8px;
    }
}

.google_ad_1 {
    text-align: center;
    max-width: 480px;
    width: 100%;
    height: 200px;
    margin: 0 auto;
}

@media only screen and (max-width: 920px) and (min-width: 601px) {
    .Home {
        .layout-padding {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

@media only screen and (min-width: 1281px) {
    .Home {
        .layout-padding {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

@media only screen and (max-width: 1280px) and (min-width: 921px) {
    .Home {
        .layout-padding {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}