button.item-link {
  display: inline-block;
  line-height: normal;
  background: rgba(0, 0, 0, 0.07);
  height: auto;
  padding: 0px 10px;
  margin: 3px 8px 0 0;
}
div.line {
  margin: 3px 0;
  overflow: auto;
}
div.line label {
  display: inline;
  margin: 0;
  font-size: 90%;
}
div.line span {
  float: right;
}
div.line.now {
  color: #aaa;
}
div.line b {
  border: 1px solid #027be3;
  background-color: rgba(2, 123, 227, 0.06);
  border-radius: 2px;
  padding: 0 2px;
}
