#Listing {
  width: 100%;
}
#Listing .location {
  color: #2980b9;
  margin: 4px 0 8px 0;
  clear: both;
}
#Listing .btnPrev {
  float: right;
}
#Listing .switches {
  margin: 0 0 24px 0;
  display: flex;
  justify-content: space-between;
}
#Listing .toggles > label {
  display: inline-block;
  margin: 8px 4px 0 0;
  white-space: nowrap;
}
#Listing .toggles > label span {
  vertical-align: middle;
}
#Listing .suggestedStart {
  float: right;
  color: #7f8c8d;
  font-size: .8em;
  text-align: center;
}
#Listing .suggestedStart span {
  display: block;
  padding-bottom: 1px;
}
#Listing .dayList {
  clear: both;
  margin-top: 1em;
}
#Listing .item {
  height: auto;
  line-height: normal;
}
#Listing .dayContent {
  padding: 8px 0;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#Listing .dayContent.HolyDay {
  padding-left: 25px;
}
#Listing .dayContent.oddYear {
  background-color: #eaf5ff;
}
#Listing .dayContent.oddYear:hover {
  background-color: #eaf5dd;
}
#Listing .dayContent .col1 {
  width: 40px;
  text-align: center;
  flex-shrink: 0;
}
#Listing .dayContent .col1 img {
  margin-top: 2px;
  width: 24px;
}
#Listing .dayContent .col2 {
  text-align: left;
  flex-grow: 1;
  white-space: normal;
}
#Listing .dayContent .col2 .dayName {
  font-variant: small-caps;
  font-weight: bolder;
}
#Listing .dayContent .col2 div {
  margin-bottom: 4px;
}
#Listing .dayContent .col2 div span {
  white-space: nowrap;
}
#Listing .dayContent .col2 .NoWork {
  color: #7f8c8d;
  font-size: .8em;
}
#Listing .dayContent .col2 .NoWork.Workday {
  color: darkred;
}
#Listing .dayContent .col2 .SpecialTime {
  color: #7f8c8d;
  font-size: .8em;
}
#Listing .dayContent .col2 .SpecialTime.setTime {
  color: #d35400;
}
#Listing .dayContent .col3 {
  padding: 0 10px;
  text-align: right;
  flex-shrink: 0;
}
#Listing .dayContent .col3 .sunsetStart {
  font-size: .8em;
  color: #d35400;
}
#Listing .dayContent .col3 .sunsetStart img {
  width: 24px;
  vertical-align: middle;
}
#Listing .dayContent .col3 .sunsetStart span {
  margin: 0 3px;
}
#Listing .dayContent .col3 .gDate {
  font-size: .72em;
  color: #7f8c8d;
  font-weight: 400;
}
#Listing .Feast .col1 img {
  border-radius: 3px;
}
#Listing .Feast .col1 img.Fire {
  background-color: #eb7265;
}
#Listing .Feast .col1 img.Air {
  background-color: #ecf0f1;
}
#Listing .Feast .col1 img.Water {
  background-color: #3498db;
}
#Listing .Feast .col1 img.Earth {
  background-color: #2ecc71;
}
#Listing .Today {
  background-color: #eafff5;
  padding: 4px 0;
}
#Listing .Today .col2 {
  padding-top: 4px;
}
@media (max-width: 500px) {
  #Listing .dayContent.HolyDay {
    padding-left: 0;
  }
}
