#Listing .location {
  color: #2980b9;
  margin: 4px 0 8px 0;
}
#Listing .btnPrev {
  float: right;
}
#Listing .switches {
  margin: 3px 0 3px 0;
}
#Listing .dayList {
  clear: both;
  margin-top: 1em;
}
#Listing .item {
  height: auto;
}
#Listing .dayContent {
  padding: 8px 0;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#Listing .dayContent:hover {
  background-color: #eaf5dd;
}
#Listing .dayContent.HolyDay {
  padding-left: 25px;
}
#Listing .dayContent.oddYear {
  background-color: #eaf5ff;
}
#Listing .dayContent.oddYear:hover {
  background-color: #eaf5dd;
}
#Listing .dayContent .col1 {
  width: 40px;
  text-align: center;
}
#Listing .dayContent .col1 img {
  width: 24px;
}
#Listing .dayContent .col2 {
  text-align: left;
  flex-grow: 1;
}
#Listing .dayContent .col2 .dayName {
  font-variant: small-caps;
  font-weight: bolder;
}
#Listing .dayContent .col2 div {
  margin-bottom: 4px;
}
#Listing .dayContent .col3 {
  padding: 0 10px;
  text-align: right;
}
#Listing .dayContent .col3 .sunsetStart {
  font-size: .8em;
  color: #d35400;
}
#Listing .dayContent .col3 .sunsetStart img {
  width: 24px;
  vertical-align: middle;
}
#Listing .dayContent .col3 .gDate {
  font-size: .7em;
  color: #7f8c8d;
}
#Listing .HolyDay .col1 i {
  color: #aaaa00;
}
#Listing .Today {
  background-color: #eafff5;
  padding: 4px 0;
}
#Listing .Today .col2 {
  padding-top: 4px;
}
