#Listing {
    .q-data-table table tbody tr:nth-child(odd) {
        background: #fff;
    }
    h1 {
        float: left;
    }
    .switches {
        float: right;
        margin: 3px 0 3px 0;
    }
    .dayList {
        clear: both;
        margin-top: 1em;
    }
    .item {
        height: auto;
    }
    .dayContent {
        padding: 16px 0;
        box-sizing: border-box;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        // &.Feast {
        //     // background-color: lightgreen;
        //     // .col1 {
        //     //     text-align: right;
        //     // }
        // }
        &.HolyDay {
            padding-left: 30px;
        }
        &.oddYear {
            background-color: #eaf5ff;
        }
        .col1 {
            width: 40px;
            text-align: center;
            img {
                width: 24px;
            }
        }
        .col2 {
            text-align: left;
            flex-grow: 1;
            .dayName {
                font-variant: small-caps;
                font-weight: bolder;
            }
        }
        .col3 {
            padding: 0 10px;
            text-align: right;
            .sunsetStart {
                font-size: .75em;
                color: #444;
                img {
                    width: 24px;
                    vertical-align: middle;
                }
            }
        }
    }
    .HolyDay {
        .col1 {
            i {
                color: #aaaa00;
            }
        }
    }
    .Today {
        background-color: #eafff5;
        padding: 4px 0;
        .col2 {
            padding-top: 4px;
        }
    }
}