.LocationSetup {
    p {
        span {
            margin-right: 15px;
        }
        input {
            padding: 2px 0;
        }
        input[type=number] {
            width: 75px;
        }
        &.buttons {
            margin-top: 1em;
            margin-bottom: 8px;
        }
    }
    .latlng {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .statusLines {
        float: right;
        max-width: 50%;
        padding: 5px;
        border: 1px solid lightgray;
        border-radius: 2px;
    }
    .status {
        transition: height 0.5s;
    }
    .busy {
        span {
            display: inline-block;
            background-image: url(/statics/ajax-loader-white.gif);
            margin-left: 5px;
            width: 16px;
            height: 16px;
        }
    }
    .busyWord {
        display: inline-block;
        color: #2980b9;
        font-size: .9rem;
        padding: 2px 15px 2px 0;
        margin-bottom: 2px;
        border-bottom: 2px solid #eee;
        white-space: nowrap;
    }
}