.LocationSetup {
    p {
        span {
            margin-right: 10px;
        }
        input {
            padding: 2px 0;
        }
        input[type=number] {
            width: 6em;
        }
        &.buttons {
            margin-top: 1em;
        }
    }
    .statusLines{
        float: right;
        max-width: 50%;
        padding: 5px;
        border: 1px solid lightgray;
        border-radius: 2px;
    }
    .status {
        transition: height 0.5s;
    }
}