.LocationSetup p span,
.LocationSetup .latlng span {
  margin-right: 15px;
}
.LocationSetup p input,
.LocationSetup .latlng input {
  padding: 2px 0;
}
.LocationSetup p input[type=number],
.LocationSetup .latlng input[type=number] {
  width: 100px;
}
.LocationSetup p.buttons,
.LocationSetup .latlng.buttons {
  margin-top: 1em;
  margin-bottom: 8px;
}
.LocationSetup .latlng {
  margin: 8px 5px 8px 0;
  font-size: 1rem;
  letter-spacing: 0;
  margin: 0 0 1rem;
  line-height: 24px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
.LocationSetup .statusLines {
  float: right;
  max-width: 50%;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 2px;
}
.LocationSetup .status {
  transition: height 0.5s;
}
.LocationSetup .busy span {
  display: inline-block;
  background-image: url(/statics/ajax-loader-white.gif);
  margin-left: 5px;
  width: 16px;
  height: 16px;
}
.LocationSetup .busyWord {
  display: inline-block;
  color: #2980b9;
  font-size: .9rem;
  padding: 2px 15px 2px 0;
  margin-bottom: 2px;
  border-bottom: 2px solid #eee;
  white-space: nowrap;
}
