.LocationSetup p span {
  margin-right: 10px;
}
.LocationSetup p input {
  padding: 2px 0;
}
.LocationSetup p input[type=number] {
  width: 6em;
}
.LocationSetup p.buttons {
  margin-top: 1em;
}
.LocationSetup .statusLines {
  float: right;
  max-width: 50%;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 2px;
}
.LocationSetup .status {
  transition: height 0.5s;
}
