.formats div {
  white-space: normal;
  margin: 4px 0;
}
.formats div b {
  white-space: nowrap;
}
.formats div > span {
  margin-left: 1em;
  white-space: nowrap;
  padding: 0 3px;
  background-color: #f0f0f0;
}
