.Verse .verseText {
  font-size: 1.3rem;
  /*font-family: 'Gentium Book Basic', serif;*/
  min-height: 105px;
}
.Verse .verseHost {
  max-width: 35em;
  margin: 5vh auto;
}
.Verse .suffix {
  font-size: 1rem;
  margin-top: 3em;
  text-align: center;
}
.Verse .source {
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 0.85rem;
  line-height: normal;
  color: grey;
  text-align: center;
}
.Verse .reciting {
  display: flex;
  justify-content: center;
}
.Verse .reciting div {
  background-image: url('~statics/reciting.jpg');
  width: 200px;
  height: 150px;
  opacity: 0.5;
  box-shadow: 0 0 4px 1px white inset;
  margin: 15px 0 0 0;
}
.Verse .webSearch {
  margin-top: .5em;
  text-align: center;
}
.Verse .webSearch i {
  padding: 0 0 1px 0;
  font-size: 140%;
}
.Verse .verseNav {
  text-align: center;
}
