// overrides
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

.toolbar-title {
    h1 {
        font-size: 1rem;
        font-weight: normal;
        letter-spacing: normal;
        margin: 0 0 3px 0;
    }
    h2 {
        font-size: 0.75rem;
        letter-spacing: normal;
        margin: 0;
    }
}