body {
  color: #212121;
  font-family: Roboto, "Helvetica Neue", "Calibri Light", sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
}
.disabled,
[disabled],
.disabled *,
[disabled] * {
  pointer-events: none;
}
div.toolbar {
  background-color: #2980b9;
}
div.toolbar .toolbar-title {
  text-align: center;
}
body.desktop button.primary:not(.disabled):hover:not(.clear) {
  background: #2980b9;
}
button.primary {
  background: #2980b9;
}
.drawer-content {
  width: 180px;
}
@media screen and (min-width: 601px) {
  .drawer:not(.swipe-only) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 180px;
    flex: 0 0 180px;
  }
}
.layout {
  width: auto;
  height: auto;
}
.layout-view {
  overflow-y: scroll;
}
article h1 {
  margin: 15px 0 5px 0;
  font-size: 1.8rem;
}
article h1:first-of-type {
  margin: 0;
}
article h2 {
  margin: 15px 0 5px 0;
  font-size: 1.6rem;
}
article h2:first-of-type {
  margin: 0;
}
article h3 {
  margin: 15px 0 0 0;
  font-size: 1.5rem;
}
article h3:first-of-type {
  margin: 0;
}
article h4 {
  margin: 15px 0 0 0;
  font-size: 1.4rem;
}
.section {
  margin: 5px 10px 30px;
}
p {
  margin: 8px 5px 8px 0;
}
.card {
  max-width: 480px;
  width: 100%;
  margin: 16px auto 20px auto;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.24);
}
.toolbar-title h1 {
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: normal;
  margin: 0 0 3px 0;
}
.toolbar-title h2 {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: normal;
  margin: 0;
}
.toolbar-title h2 span {
  margin-left: 1em;
  font-size: .85em;
  color: rgba(255, 255, 255, 0.5);
}
.toolbar-title h2.alert {
  white-space: normal;
  font-weight: bold;
  color: #ffbfbf;
}
.toolbar-title h2.alert a {
  color: #ffbfbf;
  text-decoration: underline;
}
.layout-padding {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.drawer-content {
  background-color: #fafafa;
}
.item > .item-primary ~ .item-content {
  margin-left: 52px;
}
.drawer-content.left-side .menu-main_setup,
.drawer-content.left-side .menu-main {
  background-color: #fff;
}
.layout-footer .toolbar {
  height: 45px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.layout-footer .toolbar > button {
  width: 2rem;
}
.layout-footer .tbLink {
  text-align: center;
  cursor: pointer;
  flex-grow: 1;
  height: 100%;
}
.layout-footer .tbLink div {
  display: flex;
  flex-direction: column;
  padding: 4px 0 8px 0;
}
.layout-footer .tbLink img {
  height: 65%;
  max-height: 64px;
}
.layout-footer .tbLink span {
  display: block;
  font-size: 13px;
  font-weight: 300;
}
.layout-footer .tbLink.active span {
  font-weight: 500;
}
.q-popover .version {
  font-size: 85%;
  padding: 3px 5px;
  text-align: center;
  border-top: 1px solid #f0f0f0;
}
