// overrides to base theme
body {
    color: #212121;
    font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.02em;
}

article {
    h1 {
        margin: 15px 0 0 0;
        font-size: 1.8rem;
        &:first-child {
            margin: 0;
        }
    }
    h2 {
        margin: 15px 0 0 0;
        font-size: 1.6rem;
        &:first-child {
            margin: 0;
        }
    }
    h3 {
        margin: 15px 0 0 0;
        font-size: 1.5rem;
    }
    h4 {
        margin: 15px 0 0 0;
        font-size: 1.4rem;
    }
}

.section {
    margin: 5px 20px 30px;
}

p {
    margin: 5px 5px 2px 0;
}

.toolbar-title {
    h1 {
        font-size: 1.2rem;
        font-weight: normal;
        letter-spacing: normal;
        margin: 0 0 3px 0;
    }
    h2 {
        font-size: 1rem;
        letter-spacing: normal;
        margin: 0;
        span{
            margin-left: 1em;
            font-size: .85em;
        }
    }
}

.layout-padding {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.drawer-content {
    background-color: #fafafa;
}